.header {
    width: 100vw;
    height: 60px;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: end;
    padding: 0px 10px;
    justify-content: center;
}

.LogoBar {
    display: flex;
    height: 60px;
    width: 200px;
    gap: 10px;
    align-items: center;
    font-size: 26px;
    font-style: italic;
    position: fixed;
    left: 0px;
    max-width: 235px;
    min-width: 230px;
}

.HamMenu {
    background-color: transparent;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    visibility: hidden;
}

.searchBox {
    background-color: white;
    height: 35px;
    width: 40%;
    min-width: 100px;
    display: flex;
    gap: 10px;
    position: relative;
    align-items: center;
}

.searchBox input {
    background-color: White;
    height: 100%;
    color: black;
    padding: 0px 30px;
    font-size: 15px;
    flex-grow: 1;
    border: none;
    width: 100%;

    margin-bottom: 0px !important;
}
.searchBox >:first-child {
    position: absolute;
    z-index: 10;
    left: 5px;
}

.searchBox >:last-child {
    position: absolute;
    z-index: 10;
    right: 5px;

}
.queryBox{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.searchBoxWrapper {
    position: relative;
    width: 100%;
}

.searchBox {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}
.suggestions {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: none;
    max-height: 150px;
    overflow-y: scroll;
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 1000;
    top: 90%;
    border-radius: 0 0 10px 10px;
}

.suggestions li {
    padding: 8px 28px;
    cursor: pointer;
    color: black;
    font-size: 15px;

}

.suggestions li:hover {
    background-color: #a89393;
}
@media screen and (max-width: 940px) {
    .HamMenu {
        visibility: visible;
    }

    .header {
        justify-content: space-between;
        padding-right: 25px;
        background-color: rgb(36 36 36);
        z-index: 1000;
        align-items: center;
    }

    .LogoBar {
        position: relative;
    }
    
    .searchBox {
        flex: 1;
    }
}